          <section>
            <div className="row">
              <div className="col col--12">
                <h2>___TITLE___</h2>
                <p>___DESCRIPTION___</p>
              </div>
            </div>
___ENTRIES___
          </section>
