name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Build Site
    runs-on: ubuntu-latest
    # Set some sort of timeout in the event of run-away builds.  We are limited on concurrent jobs so, get rid of them.
    timeout-minutes: 60
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: yarn

      - name: Docusaurus Cache
        uses: actions/cache@v4
        with:
          path: ./node_modules/.cache
          key: docusaurus-build-cache-${{ hashFiles('yarn.lock') }}

      - name: Build Website
        env:
          process.env.DOCUSAURUS_SSR_CONCURRENCY: 4
        run: yarn cf-pages-deploy
