name: Update Progress

on:
  repository_dispatch:
    types: [updateProgress]
  workflow_dispatch: {}

jobs:
  update:
    name: Update Documentation Site
    runs-on: ubuntu-latest
    # Set some sort of timeout in the event of run-away builds.  We are limited on concurrent jobs so, get rid of them.
    timeout-minutes: 60
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.BOT_PAT }}

      - name: Checkout Main Project Repo
        run: git clone https://github.com/open-goal/jak-project.git

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: scripts/progress-tracker/package.json

      - name: Docusaurus Cache
        uses: actions/cache@v5
        with:
          path: ./node_modules/.cache
          key: docusaurus-build-cache-${{ hashFiles('yarn.lock') }}

      - name: Update Statistics
        env:
          SHEET_LINK: ${{ secrets.SHEET_LINK }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pushd scripts/progress-tracker
          yarn install --immutable
          popd
          node scripts/progress-tracker/index.js

      - name: Add & Commit
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actor
          author_name: "OpenGOALBot"
          author_email: "OpenGOALBot@users.noreply.github.com"
          message: "tracker: Updated progress information"
