name: Update Progress

on:
  repository_dispatch:
    types: [updateProgress]
  workflow_dispatch: {}

jobs:
  update:
    name: Update Documentation Site
    runs-on: ubuntu-latest
    # Set some sort of timeout in the event of run-away builds.  We are limited on concurrent jobs so, get rid of them.
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.BOT_PAT }}

      - name: Checkout Main Project Repo
        run: git clone https://github.com/open-goal/jak-project.git

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
          cache-dependency-path: scripts/progress-tracker/package.json

      - name: Update Statistics
        env:
          SHEET_LINK: ${{ secrets.SHEET_LINK }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pushd scripts/progress-tracker
          npm ci
          popd
          node scripts/progress-tracker/index.js

      - name: Download Generated Documentation Bundle
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_PAT }}
          WORKFLOW_RUN_ID: ${{ github.event.client_payload.docGenRunId }}
        run: |
          npm ci
          npm run download-docs

      - name: Add & Commit
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actor
          author_name: 'OpenGOALBot'
          author_email: 'OpenGOALBot@users.noreply.github.com'
          message: "tracker: Updated progress information"
